.overview-main{
  padding: 20px;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
}

.overview-box{
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 3px 3px 15px var(--box-shadow);
}
.overviewContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.overview2{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.overview3{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////*/

@media (max-width:1024px){
  .overview-main{
    height: auto;
  }
  .overviewContainer{
    flex-direction: column;
    height: auto;
  }
  .overview3{
    width: 100%;
    height: 100%;
  }
  .overview2{
    width: 100%;
    height: 100%;
  }
  
}