.recurringBillsSection{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.billTopRow{
  width: 100%;
  margin-block: 25px 40px;
}
.billTopRowH1{
  font-size: 35px;
  font-weight: 600;
}


/*////////////////////////////////////////*/

.billDivider{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

/*////////////////////////////////////////////////////////////////////*/

.leftPartBill{
  display: grid;
  grid-template-rows: auto auto;
  flex: 2;
  gap: 25px;
}

.totalBillsBox{
  height: fit-content;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 25px;
}

.summaryBillsBox{
  height: 250px;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
}
.summaryH1{
  font-size: 19px;
  color: #000000;
  font-weight: 600;
}
.summaryBox{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.summaryRow{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
  border-bottom: 1px solid rgb(240, 236, 236);
}
.summaryRow p:nth-child(1){
  color: #696868;
}
.summaryRow p:nth-child(2){
  font-size: 17px;
  font-weight: 500
}
.totalBillsBox{
  color: white;
}
.billSvg{
  height: 40px;
  width: 40px;
}
.billsTotalP{
  margin-block: 20px 10px;
  font-size: 17px;
  color: #ffffff;
}

.billsTotalH1{
  font-size: 30px;
  font-weight: 600;
}
/*///////////////////////////////////////////////////////////////////*/

.rightPartBill{
  flex: 5;
 
}

/*//////////////////////////////////////////////////////////////////*/

@media (max-width: 764px){
  .billDivider{
    flex-direction: column;
  }
}