@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-clr:#e8e4df;
  --main-dark-clr:#070606;
  --light-clr:#484545;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  box-sizing: border-box;
background-color: var(--bg-clr);
padding-left: 300px;
height: auto;
}

.MainHeadline{
  font-size: 35px;
  font-weight: 600;
  margin-block: 20px;
}
/*/////////////////////////////////////////////////////*/

  

/*//////////////////////////////////////////////////*/

@media (max-width:1024px){
  body{
    padding-left: 0px !important;
  }
}