@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-clr:#e8e4df;
  --main-dark-clr:#070606;
  --light-clr:#484545;
  --box-shadow:rgb(204, 204, 204);
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  box-sizing: border-box;
  background-color: var(--bg-clr);
  padding-left: 300px;
  height: auto;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.MainHeadline{
  font-size: 35px;
  font-weight: 600;
  margin-block: 20px;
}
/*/////////////////////////////////////////////////////*/

.top-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-block: 0px 20px;
}
.box-name{
  font-weight: 600;
  font-size: 18px;
}

.box-btn{
  position: relative;
  cursor: pointer;
  font-size: 15px;
  transition: 0ms;
  color: var(--light-clr);
  margin-right: 20px;
}
.box-btn::after{
  position: absolute;
  content: "";
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  background-color: var(--main-dark-clr);
  transition: 0ms;
  opacity: 0;
}
.box-btn:hover{
  color: var(--main-dark-clr);
}
.box-btn:hover::after{
  opacity: 1;
}

/*//////////////////////////////////////////////////*/

@media (max-width:1324px){
  body{
    padding-left: 0px !important;
    padding-bottom: 60px;
  }
}