.budgetSection{
  display: flex;
  flex-direction: column;
  width: calc(100% - 00px);
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  position: relative;
}
.budgetHolder{
  display: flex;
  gap: 25px;
}
.budgetTopRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 25px 40px;
}
.budgetTopRow h1{
  font-size: 35px;
  font-weight: 600;
}
.budgetTopRow button{
  background-color: var(--main-dark-clr);
  color: white;
  padding: 12px 15px;
  font-weight: 500;
  border-radius: 5px;
  transition: 50ms;
}
.budgetTopRow button:hover{
  background-color: #696868;
}

.categoryContainer{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 60%;
  height: 100%;
}

.spendingSummaryBox{
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 3px 3px 15px var(--box-shadow);
}
.pieHolder{
  position: relative;
  margin-inline: auto;
}
.budgetPieSection{
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  margin-block: 30px;
}
.pieInfoSection h1{
  font-size: 30px;
  font-weight: 600;
}
.pieInfoSection p{
  font-size: 15px;
  color: var(--light-clr);
}
.pieInfoSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 80px);
  height: calc(100% - 140px);
  border-radius: 100vh;
  background-color: white;
}
.spendingSummarySection h1{
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
}
.spendingSummarySection{
  width: 100%;
}
.summaryBox{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.summaryItem{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 15px;
  border-bottom: 1px solid #eae8e8;
}
.sumLine{
  position: absolute;
  height: 50%;
  width: 5px;
  border-radius: 100vh;
  left: 0px;
}
.summaryCat{
  margin-left: 25px;
}
.summaryAmountBox{
  display: flex;
  align-items: center;
  gap: 5px;
}
.summaryAmountBox p:nth-child(1){
  font-weight: 600;
  font-size: 18px;
}
.summaryAmountBox p:nth-child(2){
  font-size: 15px;
  color: #696868;
}


/*////////////////////////////////////////*/


.categoryBox{
  height: fit-content;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 15px var(--box-shadow);
  padding: 25px;
}

.catBoxTop{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.catDot{
  width: 20px;
  height: 20px;
  border-radius: 100vh;
  position: absolute;
  left: 0;
}
.catBoxTop h1{
  font-size: 20px;
  font-weight: 600;
  padding-left: 30px;
}
.catBoxTop button{
  font-size: 20px;
  margin-right: 20px;
  color: #696868;
}

.barHolder{
  position: relative;
  width: 100%;
  height: 50px;
  margin-block: 20px;
}

.barHolder .backBar{
  position: relative;
  left: -5px;
  width: calc(100% + 10px);
  height: 100%;
  background-color: var(--bg-clr);
  border-radius: 5px;
}
.barHolder .progressBar{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  height: calc(100% - 10px);
}

.divCatContainer{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.divCatBox{
  position: relative;
  width: 50%;
  padding-left: 20px;
}
.catp2{
  font-weight: 600;
  font-size: 18px;
}
.catp1{
  font-size: 15px;
  color: #696868;
}
.dcb{
  background-color: var(--bg-clr);
}

.editPopup{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 00px;
  right: 60px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(137, 136, 136);
  transition: 50ms;
}
.editPopup button{
  font-size: 15px;
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  opacity: 0.7;
}
.editPopup button:nth-child(1){
  border-bottom: 1px solid #e4e2e2;
  color: black;
}
.editPopup button:nth-child(2){
  color: red;
}
.editPopup button:hover{
  opacity: 1;
}

/*////////////////////*/

.latestSpendingBox{
  width: 100%;
  height: fit-content;
  background-color: var(--bg-clr);
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.transactionItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 12px;
  border-bottom: 1px solid #cdcdcd;
}
.lsp1{
  display: flex;
  gap: 10px;
  align-items: center;
}
.lspImg{
  width: 40px;
  height: 40px;
  border-radius: 100vh;
}
.lsp1 h1{
  font-weight: 600;
}
.lsp2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.lsp2 h2{
  font-size: 16px;
  font-weight: 600;
}

.lsp2 p{
  color: #696868;
  font-size: 14px;
}

/*/////////////NEW BUDGET/////////////////*/
  .dimScreen{
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10000px;
    height: 10000px;
    background-color: #00000048 !important;
    z-index: 1000;
    transition: 300ms;
  }
  .newBudget{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 40px);
    max-width: 500px;
    min-width: auto;
    min-height: 400px;
    height: fit-content;
    background-color: white;
    z-index: 200000;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(114, 114, 114);
    transition: opacity 300ms;
    padding: 20px;
  }
  .newBudget h1{
    font-size: 25px;
    font-weight: 600;
  }
  .newBudget .newHeadlineBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 100vh;
    border: 1px solid #696868;
    cursor: pointer;
    z-index: 100;
  }
  .newBudget button svg{
    width: 12px;
    height: 12px;
  }
  .categoryDropdown{
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #b0b0b0;
    margin-bottom: 10px;
  }
  .budgetlabel{
    font-size: 14px;
    color: #696868;
    margin-bottom: 3px;
  }
  .categoryDropdown option{
    position: relative;
    padding-block: 10px;
    cursor: pointer;
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
  }
  .addBudgetBtn{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 10px
  }
  .addBudgetBtn:hover{
    background-color: rgb(42, 42, 42);
  }
  .deleteConformation{
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 40px);
    max-width: 600px;
    min-width: auto;
    height: fit-content;
    background-color: white;
    z-index: 200000;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(114, 114, 114);
    transition: opacity 300ms;
    padding: 20px;
  }
  .deleteConformation h1{
    font-size: 30px;
    font-weight: 600;
  }
  .deleteConformation p{
    color: #696868;
    margin-block: 20px;
  }
  .deleteConformation button{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .deleteConfBtn2{
    color: #696868;
  }
  .deleteConfBtn2:hover{
    color: black;
  }
  .deleteConfBtn1{
    background-color: rgba(255, 0, 0, 0.621);
    color: white;
    font-weight: 500
  }
  .deleteConfBtn1:hover{
    background-color: rgb(255, 0, 0);
  }
/*//////////////////////////*/

@media (max-width: 1324px){
  .budgetHolder{
    flex-direction: column;
  }
  .categoryContainer{
    width: 100%;
  }
  .summaryCat{
    margin-left: 15px;
  }
  .spendingSummaryBox{
    position: relative;
    top: 0px;
    width: 100%;
  }

}