.budgetSection{
  display: flex;
  flex-direction: column;
  width: calc(100% - 00px);
  height: 100%;
  padding: 20px;
  border-radius: 15px;
}
.budgetHolder{
  display: flex;
  gap: 25px;
}
.budgetTopRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.budgetTopRow h1{
  font-size: 35px;
  font-weight: 600;
}
.budgetTopRow button{
  background-color: var(--main-dark-clr);
  color: white;
  padding: 12px 15px;
  font-weight: 500;
  border-radius: 5px;
  transition: 50ms;
}
.budgetTopRow button:hover{
  background-color: #696868;
}

.categoryContainer{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 60%;
  height: 100%;
}

.categoryBox{
  height: 400px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
}
.spendingSummaryBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
.pieHolder{
  position: relative;
  margin-inline: auto;
}
.budgetPieSection{
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  margin-block: 30px;
}
.pieInfoSection h1{
  font-size: 30px;
  font-weight: 600;
}
.pieInfoSection p{
  font-size: 15px;
  color: var(--light-clr);
}
.pieInfoSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 80px);
  height: calc(100% - 140px);
  border-radius: 100vh;
  background-color: white;
}
.spendingSummarySection h1{
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
}
.spendingSummarySection{
  width: 100%;
}
.summaryBox{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.summaryItem{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 15px;
  border-bottom: 1px solid #eae8e8;
}
.sumLine{
  position: absolute;
  height: 50%;
  width: 5px;
  border-radius: 100vh;
  left: 0px;
}
.summaryCat{
  margin-left: 25px;
}
.summaryAmountBox{
  display: flex;
  align-items: center;
  gap: 5px;
}
.summaryAmountBox p:nth-child(1){
  font-weight: 600;
  font-size: 18px;
}
.summaryAmountBox p:nth-child(2){
  font-size: 15px;
  color: #696868;
}
/*//////////////////////////*/

@media (max-width: 1324px){
  .budgetHolder{
    flex-direction: column;
  }
  .spendingSummaryBox{
    width: 100%;
  }
  .categoryContainer{
    width: 100%;
  }
  .summaryCat{
    margin-left: 15px;
  }
}