.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  min-height: 100vh;
  background-color: var(--main-dark-clr);
  border-radius: 0px 15px 15px 0px;
  color: white;
}

.sidebar-hide{
  width: 60px !important;
  border-radius: 0px !important;
}
.logo{
  font-size: 35px;
  padding: 20px 0px 0px 20px;
}

.sidebar-link-box{
  margin-top: 60px;
  width: calc(100% - 20px);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidebar-link{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px;
  width: 100%;
  background-color: inherit;
  color: #696868;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding-left: 20px;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}
.sidebar-link:hover{
  color: white;
}
.sidebar-link:hover svg,
.sidebar-link:hover svg path {
  fill: white;
}
.sidebar-link-svg{
  width: 23px;
  height: auto;
  transition: transform 150ms;
}
.minimize-menu-link:hover svg path {
  stroke: white;
}
.minimize-menu-link{
  position: absolute;
  bottom: 40px;
}
.rotateSidebarLink{
  transform: rotate(180deg);
}












/*//////////////////////////////////////////////////*/

@media (max-width:764px){
  .sidebar{
    display: none;
  }
  .logo{
    display: none;
  }
}