.potsMain{
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 110px auto;
  gap: 15px;
}

.potTopRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 25px 40px;
  position: relative;
  grid-column: span 3;
}
.ptrH1{
  font-size: 35px;
  font-weight: 600;
}
.ptrbtn{
  background-color: var(--main-dark-clr);
  color: white;
  padding: 12px 15px;
  font-weight: 500;
  border-radius: 5px;
  transition: 50ms;
}
.ptrbtn:hover{
  background-color: #696868;
}
.pot{
  position: relative;
  background-color: white;
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 3px 3px 15px var(--box-shadow);
  padding: 20px;
}
.potTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.potNameTop{
  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
}
.potDot{
  width: 20px;
  height: 20px;
  border-radius: 100vh;
  position: absolute;
  left: 20px;
}
.potEdit{
  font-size: 20px;
  color: #696868;
  margin-right: 10px;
}
.editPopup{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: -5px;
  right: 60px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(137, 136, 136);
  transition: 50ms;
}
.editPopup button{
  font-size: 15px;
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  opacity: 0.7;
}
.editPopup button:nth-child(1){
  border-bottom: 1px solid #e4e2e2;
  color: black;
}
.editPopup button:nth-child(2){
  color: red;
}
.editPopup button:hover{
  opacity: 1;
}

.potTotalSaved{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.potTotalSavedP{
  color: #696868;
  font-size: 15px;
}
.potTotalSavedH2{
  font-weight: 600;
  font-size: 32px;
}


.potBarHolder{
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 100vh;
  overflow: hidden;
}
.potBarHolderBcg{
  width: 100%;
  height: 100%;
  background-color: var(--bg-clr);
  position: absolute;
}
.potBarHolderMain{
  height: 100%;
  position: absolute;
  border-radius: 100vh;
}


.barInfoHolder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-block: 10px;
}
.barInfoHolderP{
  color: #696868;
  font-size: 15px;
}


.potBtnHolder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 40px;
}
.potBtn{
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: var(--bg-clr);
  border: 2px solid transparent;
  transition: 100ms;
}
.potBtn:hover{
  border: 2px solid var(--bg-clr);
  background-color: transparent;
}

/*//////////////////////////////////*/
.deleteConformation{
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 40px);
  max-width: 600px;
  min-width: auto;
  height: fit-content;
  background-color: white;
  z-index: 200000;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(114, 114, 114);
  transition: opacity 300ms;
  padding: 20px;
}
.deleteConformation h1{
  font-size: 30px;
  font-weight: 600;
}
.deleteConformation p{
  color: #696868;
  margin-block: 20px;
}
.deleteConformation button{
  height: 50px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.deleteConfBtn2{
  color: #696868;
}
.deleteConfBtn2:hover{
  color: black;
}
.deleteConfBtn1{
  background-color: rgba(255, 0, 0, 0.621);
  color: white;
  font-weight: 500
}
.deleteConfBtn1:hover{
  background-color: rgb(255, 0, 0);
}
/*//////////////////////////////////*/
.dimScreen{
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10000px;
  height: 10000px;
  background-color: #00000012 !important;
  z-index: 1000;
  transition: 300ms;
}
.newBudget{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 40px);
  max-width: 500px;
  min-width: auto;
  min-height: 400px;
  height: fit-content;
  background-color: white;
  z-index: 200000;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(114, 114, 114);
  transition: opacity 300ms;
  padding: 20px;
}
.newBudget h1{
  font-size: 25px;
  font-weight: 600;
}
.newBudget .newHeadlineBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 100vh;
  border: 1px solid #696868;
  cursor: pointer;
  z-index: 100;
}
.newBudget button svg{
  width: 12px;
  height: 12px;
}
.categoryDropdown{
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #b0b0b0;
  margin-bottom: 10px;
}
.budgetlabel{
  font-size: 14px;
  color: #696868;
  margin-bottom: 3px;
}
.addBudgetBtn{
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 10px
}
.addBudgetBtn:hover{
  background-color: rgb(42, 42, 42);
}
/*//////////////////////////////////*/

@media (max-width: 1324px){
  .potsMain{
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }
  .potsMain .potTopRow{
    grid-column: span 2;
  }
}

@media (max-width: 764px){
  .potsMain{
    grid-template-columns: 1fr;
  }
  .potsMain .potTopRow{
    grid-column: span 1;
  }
}